 .search-input {
    min-width: 18rem;
    height: 2rem;
    margin-top: 10px;
}
.dropdown-content {
    position: absolute;
    min-width: 15rem;
    padding: 22px 16px ;
    z-index: 1;
    border: 1px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    top: 40px;
}
.dropdown-content :empty{
    display: none;
}
.search-area {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    /* background-color: hsla(115, 100%, 50%, 0.685); */
    background-color: #616161;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    height:4rem;
} 
.search-area{
    height: 5rem;
}
.search-label {
    background-color: aqua;
}
@media screen and (max-width:600px) {
    .search-area{
        display: block;
        text-align: center;
        align-items: center;
    }
    .search-input{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90%;
    }
    .search-button {
        margin-bottom: 50px;
    }
    .search-area{
        height: 6rem;
    }
}

@media screen and (min-width:1000px) {
    .search-button {
        margin-left: 1rem;
    }
}